Repository typelevel/cats-tagless, pull requests merged in 2023-06, with the labels that each got.

#437 Fix microsite links
  docs/docs/index.md
Labels: bug, docs

#438 Support Semigroupal for more complex types
  examples/src/main/scala-2/cats/tagless/example/ValidationExample.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  tests/src/test/scala-2/cats/tagless/tests/autoSemigroupalTests.scala
Labels: enhancement, tests, macros, examples

#439 Quality of life improvements in DeriveMacros
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
Labels: macros

#440 Fix FunctorK when F occurs only in contravariant position
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  tests/src/test/scala-2/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-2/cats/tagless/tests/autoSemigroupalTests.scala
Labels: bug, tests, macros

#443 Add FunctorK instance for FS2 Stream
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  fs2/src/main/scala/cats/tagless/fs2/package.scala
Labels: enhancement
