Repository typelevel/cats-tagless, pull requests merged in 2024-04, with the labels that each got.

#518 Scala3 ContravariantK macros
  core/src/main/scala-3/cats/tagless/derived/DerivedContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/macroContravariantK.scala
  tests/src/test/scala-2/cats/tagless/tests/InstanceTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala/cats/tagless/tests/InstanceTests.scala
Labels: core, tests

#519 Handle repeated and by-name parameters
  core/src/main/scala-3/cats/tagless/AutoDerive.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
Labels: core, tests

#520 Hacky solution of the Tuple2K problem
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
Labels: core, tests

#521 Use Semigroup to combine results in SemigroupalK derivation
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/SemigroupalKSpec.scala
Labels: core, tests

#523 Bump tlBaseVersion
  build.sbt
Labels: build

#524 Check binary compatibility against older versions
  build.sbt
Labels: build

#531 [Scala 3] Add a test for dependent method types
  build.sbt
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
Labels: tests

#533 [Scala 3] Add derivation for Contravariant and Invariant
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariant.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTest.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
Labels: core, tests

#534 [Scala 3] Derive Bifunctor
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  tests/src/test/scala-3/cats/tagless/tests/autoBifunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
Labels: core, tests
